/* define custom styles */
:root {
    --dark: #0C0C0C;
    --light: #fafbfd;
    --primary: #e9f1fc;
    --secondary: #001D6C;
    --tertiary : #060160;
    --lightgrey: #f0f0f0;
    --grey: #c8d1da;
    --darkgrey: #5c6062;
    --alert: #ff3636;
    --safe: #07b491;
  }
  
  /* CSS configuration reset */
  html, body, div, span, applet, object, iframe,
  h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  a, abbr, acronym, address, big, cite, code,
  del, dfn, em, img, ins, kbd, q, s, samp,
  small, strike, strong, sub, sup, tt, var,
  b, u, i, center,
  dl, dt, dd, ol, ul, li,
  fieldset, form, label, legend,
  table, caption, tbody, tfoot, thead, tr, th, td,
  article, aside, canvas, details, embed, 
  figure, figcaption, footer, header, hgroup, 
  menu, nav, output, ruby, section, summary,
  time, mark, audio, video {
      margin: 0;
      padding: 0;
      border: 0;
      font-size: 100%;
      font: inherit;
      vertical-align: baseline;
  }
  /* HTML5 display-role reset for older browsers */
  article, aside, details, figcaption, figure, 
  footer, header, hgroup, menu, nav, section {
      display: block;
  }
  body {
      line-height: 1;
  }
  ol, ul {
      list-style: none;
  }
  blockquote, q {
      quotes: none;
  }
  blockquote:before, blockquote:after,
  q:before, q:after {
      content: '';
      content: none;
  }
  table {
      border-collapse: collapse;
      border-spacing: 0;
  }
  
  /* Custom CSS */
  
  body {
    font-family: 'Poppins', sans-serif;
  }
  
  /* sidebar  */
  .sidebar {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    width: 250px;
    height: 100%;
    background-color: var(--light);
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 30px;
  }

  .sidebar-header {
    color: var(--darkgrey);
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    height: 5rem;
  }

  .sidebar-header .title {
    font-size: 1rem;
    color: var(--darkgrey);
  }

  .sidebar-header h4 {
    font-size: 0.8rem;
  }

  .sidebar-list {
    list-style: none;
    padding: 0;
  }

  .sidebar-list-item {
    border-bottom: 1px solid var(--lightgrey);
  }

  .sidebar-link {
    color: var(--darkgrey);
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: 10px;
    font-size: 0.9rem;
    padding: 1rem;
    font-weight: 500;
    transition: background-color 0.4s linear;
  }

  .sidebar-link:hover {
    background-color: var(--lightgrey);
  }

  .sidebar-link i {
    margin-right: 10px;
  }

  .sidebar-link.active {
    background-color: var(--lightgrey);
  }

  .icon {
    font-size: 1.5rem;
    color: var(--darkgrey);
  }

  .icon[data-icon="circle-user"] {
    color: var(--grey);
  }

  .conf-opt {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  .search {
    display: flex;
    align-items: center;
    padding: 0 1rem;
    width: 11rem;
    margin-block: 1.5rem;
  }

  .search-container {
    position: relative;
    width: 100%;
  }

  .search-icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    font-size: 1rem;
    color: var(--darkgrey);
    transition: opacity 0.3s ease;
  }

  .search-field {
    background-color: var(--lightgrey);
    width: 100%;
    padding: 0.5rem 0.5rem 0.5rem 2rem;
    border: none;
    font-size: 0.9rem;
    color: var(--darkgrey);
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.3s ease;
  }

  .search-field:focus {
    outline: none;
    border-bottom: 2px solid var(--darkgrey);
  }

  .user-opt {
    position: relative;
    cursor: pointer;
  }

  .user-action {
    display: none;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border: 1px solid var(--grey);
    border-radius: 0.5rem;
    font-size: 0.8rem;
    flex-direction: column;
    position: absolute;
    background-color: var(--light);
    z-index: 1;
  }

  .user-action h4 {
    width: 100px;
    padding: 0.5rem;
  }

  .user-action h4:hover {
    background-color: var(--grey);
  }

  a {
    text-decoration: none;
    color: var(--darkgrey);
  }

  .menu-icon {
    font-size: 1rem;
    color: var(--darkgrey);
  }

  /* login page */
  #LoginPage {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 100vh;
      background-color: #ffffff;
  }
  
  .left {
    color: #f0f0f0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
    height: 100%;
    gap: 1rem;
    background: 
    url('../asset/login.svg') no-repeat bottom left,
    linear-gradient(0deg, rgba(6,1,96,1) 0%, rgba(9,9,121,1) 15%, rgba(0,187,225,1) 100%);
    background-size: 35%, cover;
    width: 60%;
  }
  
  .left h1 {
    padding-left: 25%;
    font-weight: bold;
    font-size: 2rem; 
    margin-bottom: 0.5rem; 
  }
  
  .left h4 {
    padding-left: 25%;
    padding-bottom: 10%;
    font-size: 1rem;
    margin-bottom: 1rem;
  }
  
  .title {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--dark);
  }
  
  .right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border : 1px solid #000000;
    height: 100%;
    width: 40%;
  }
  
  .form-div {
    border: 1px solid #00000022;
    padding: 4rem;
    padding-inline: 5rem;
    box-shadow: 10px 10px 20px 0 rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
  
  .form-div form {
    display: flex;
    margin-top: 2rem;
    flex-direction: column;
    gap: 1rem;
  }
  
  .submit-button {
    background-color: #000000;
    color: #ffffff;
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top:1rem;
  }
  
  .submit-button:hover {
    background-color: #000000aa;
  }
  
  .layout {
      background-color: var(--primary);
      display: flex;
      height: 100vh;
  }
  
  .content {
      margin-left: 250px;
      flex: 1;
      padding: 1rem;
      padding-inline: 2rem;
      overflow-y: auto;
  }
  
  .main {
    padding: 2rem;
    display: flex;
    flex-direction: column;
  }
  
  /* Stat peminjaman styles */
  
  .dash-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .date-picker {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  
  .angka-total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-block: 2.5rem 4rem;
  }
  
  .angka-total h2 {
    opacity: 0.5;
    margin-bottom: 0.5rem;
    font-size: 0.8rem;
    font-weight: 500;
    color: var(--dark);
  }
  
  .angka-total p {
    font-weight: bold;
    font-size: 1.2rem;
  }
  
  .angka-total-item {
    background-color: var(--light);
    border: 1px solid var(--grey);
    padding: 1rem;
    border-radius: 4px;
  }
  
  .display {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }
  
  /* Daftar Konfirmasi Styles */
  
  .konfirm-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-block: 1rem 1.5rem;
    border-bottom: var(--grey) 1px solid;
  }
  
  
  .search-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    background-color:var(--light);
    border-radius: 0 5px 5px 0;
  }
  
  .search-field-main {
    border: none;
  }
  
  .search-icon-main {
    background-color: var(--secondary);
    color: var(--light);
    border: none;
    padding: 1rem ;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
  }
  
  .find-filter {
    font-size: 0.8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }
  
  .filter {
    position: relative;
    border: var(--secondary) 2px solid;
    color: var(--secondary);
    padding: 1rem;
    border-radius: 5px;
  }
  
  .filter-icon {
    margin-right: 0.5rem;
    cursor: pointer;
  } 
  
  
  .filter-box {
    display: none;
    position: absolute;
    top: 3rem;
    padding: 1.4rem;
    left: 0;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border: 1px solid var(--grey);
    font-size: 0.8rem;
    flex-direction: column;
    position: absolute;
    background-color: var(--light);
    z-index: 1;
  }
  
  
  /* kelas komponen jadwal */
  .jadwal-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-block: 1rem 1.5rem;
    border-bottom: var(--grey) 1px solid;
  }
  
  .jadwal-choice {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }
  
  .room-options {
    border: 0px;
    background-color: transparent;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
  }
  
  .room-dropdown {
    border: 1px solid var(--grey);
    padding: 0.5rem;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.8rem;
    background-color: var(--light);
  }